<div id="day-modal" class="modal-overlay day-section ">
    <div class="modal-content">
        <div class="modal-header">
            <h3>{{t.workoutSession.buttons.selectDay}}</h3>
            <button class="close-modal">&times;</button>
        </div>
        <div class="days-list">

            <button class="day-option" id="" data-day="monday">{{t.workoutSession.selectDays.monday}}</button>
            <button class="day-option" id="" data-day="tuesday">{{t.workoutSession.selectDays.tuesday}}</button>
            <button class="day-option" id="" data-day="wednesday">{{t.workoutSession.selectDays.wednesday}}</button>
            <button class="day-option" id="" data-day="thursday">{{t.workoutSession.selectDays.thursday}}</button>
            <button class="day-option" id="" data-day="friday">{{t.workoutSession.selectDays.friday}}</button>
            <button class="day-option" id="" data-day="saturday">{{t.workoutSession.selectDays.saturday}}</button>
            <button class="day-option" id="" data-day="sunday">{{t.workoutSession.selectDays.sunday}}</button>
        </div>
    </div>
</div>