<title>{{#if title}}{{title}}{{else}}{{t.seo.default.title}}{{/if}}</title>
<meta name="description" content="{{#if description}}{{description}}{{else}}{{t.seo.default.description}}{{/if}}">
<meta property="og:title" content="{{#if title}}{{title}}{{else}}{{t.seo.default.title}}{{/if}}">
<meta property="og:description"
    content="{{#if description}}{{description}}{{else}}{{t.seo.default.description}}{{/if}}">