<div class="exercises-wrapper">
  <div id="exercises-container" class="exercises-scroll-container">
    {{#each daysOfWeek}}
    <div class="day-section" data-day="{{this}}">
      <div class="week-label">{{this}}</div>

      {{#each (lookup ../trainData this)}}
      <div class="exercise-list">
        <div class="exercise-card" data-exercise-id="{{this.id}}">
          <div class="exercise-info">
            {{#if this.exerciseName}}
            <div class="exercise-name">{{this.exerciseName}}</div>
            {{else}}
            <div class="exercise-name">Отдых..</div>
            {{/if}}
            <div class="exercise-details">
              <div class="exercise-weight">
                {{#if this.weight}}
                <span class="detail-label">Вес:</span>
                <span class="detail-value weight-value">{{this.weight}} кг</span>
                {{else}}
                <span class="detail-label">Вес:</span>
                <span class="detail-value">Свободный</span>
                {{/if}}
              </div>
              <div class="exercise-sets">
                {{#if this.approaches}}
                <span class="detail-label">Подходы:</span>
                <span class="detail-value approaches-value">{{this.approaches}}</span>
                {{else}}
                <span class="detail-label">Подходы:</span>
                <span class="detail-value">Свободное кол-во</span>
                {{/if}}
              </div>
            </div>
          </div>
          <div class="exercise-actions">
            <!-- Добавим data-атрибуты для легкого доступа к данным -->
            <button class="complete-btn" data-exercise-id="{{this.id}}" data-exercise-name="{{this.exerciseName}}"
              data-weight="{{this.weight}}" data-approaches="{{this.approaches}}"
              data-train='{"id":"{{this.id}}","weight":"{{this.weight}}","approaches":"{{this.approaches}}","exerciseName":"{{this.exerciseName}}"}'>
              Подтвердить подход
            </button>

            <button class="edit-btn" onclick="openEditModal('{{this.id}}', '{{this.weight}}')">
              Изменить вес
            </button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/each}}
  </div>
</div>
<div class="divider"></div>