
<div class="exercises-wrapper">
  <div id="exercises-container" class="exercises-scroll-container">
    {{#each daysOfWeek}}
      <div class="day-section">
        <div class="week-label">{{this}}</div>
        {{#each (lookup ../trainData this)}}
          <div class="exercise-list">
            <div class="exercise-card">
              <div class="exercise-info">
                {{#if this.exerciseName}}
                  <div class="exercise-name">{{this.exerciseName}}</div>
                {{else}}
                  <div class="exercise-name">Отдых..</div>
                {{/if}}
                <div class="exercise-details">
                  <div class="exercise-weight">
                    {{#if this.weight}}
                      <span class="detail-label">Вес:</span>
                      <span class="detail-value">{{this.weight}} кг</span>
                    {{else}}
                      <span class="detail-label">Вес:</span>
                      <span class="detail-value">Свободный</span>
                    {{/if}}
                  </div>
                  <div class="exercise-sets">
                    {{#if this.approaches}}
                      <span class="detail-label">Подходы:</span>
                      <span class="detail-value">{{this.approaches}}</span>
                    {{else}}
                      <span class="detail-label">Подходы:</span>
                      <span class="detail-value">Свободное кол-во</span>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="button_conteiner">
                <button class="btn-delete" onclick="openDeleteModal('{{this.id}}')">
                  <div class="delete_btn-img"></div>
                </button>
                <button
                  class="btn-edit"
                  onclick="openEditModal('{{this.id}}', '{{this.exerciseName}}', '{{this.weight}}', '{{this.approaches}}')"
                >
                  <div class="edit_btn-img"></div>
                </button>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>

<div class="divider"></div>

<div class="btn-container">
  <button class="add-btn" onclick="openAddModal()">Добавить упражнение</button>
</div>