<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{> seo}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="./css/trainingPlan.css" />
  <link rel="stylesheet" href="./css/footer.css" />
  <link rel="stylesheet" href="./css/trainPlanModal.css" />
  <link rel="stylesheet" href="/css/variables.css" />
  <link rel="stylesheet" href="/css/adaptiv.css" />
  <link rel="stylesheet" href="/css/confirmDataModel.css" />


  <title>trainingPlan</title>
</head>

<body>
  {{>addNewTaskModal}}
  {{>confirmDeleteModal}}
  {{>editExerciseModal}}
  {{>confirmDataModel}}



  <div class="train-plan-container">
    <header class="plan-header">
      <div class="header-text">

        <h1>{{t.profile.trainPlan.title}}</h1>
        <p>{{t.profile.trainPlan.subtitle}}</p>
      </div>

    </header>


    <div class="calendar-scroll">
      {{#each allDays}}
      <div class="day-card {{#if isToday}}active{{/if}}" data-day="{{this.dayKey}}">
        <span class="day-name">{{this.dayName}}</span>
        <span class="day-number"><i class="fas fa-calendar-day"></i></span>
      </div>
      {{/each}}
    </div>

    <section class="routine-section">
      <h2 class="section-title">{{t.profile.trainPlan.todayRoutine}}</h2>

      <div class="exercise-list">
        {{#if exercises.length}}
        {{#each exercises}}
        {{> trainForTrainPlan this}}
        {{/each}}
        {{else}}

        <p class="empty-msg">{{t.profile.trainPlan.noExercises}}</p>
        {{/if}}
      </div>

      <div class="action-buttons">
        <button class="add-exercise-btn" onclick="openAddModal()">

          <i class="fas fa-plus-circle"></i> {{t.profile.trainPlan.addExercise}}
        </button>
        <button class="generate-plan-btn" onclick="openConfirmDataAi()">

          <i class="fa-solid fa-wand-sparkles"></i>{{t.profile.trainPlan.generatePlan}}
        </button>
      </div>
    </section>

    {{> footer}}
  </div>

</body>
<script src="./js/trainPlan.js"></script>
<script src="./js/auth.js"></script>
<script src="./js/router.js"></script>
<script src="/js/themeManager.js"></script>

</html>